@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;&display=swap");
/*----------------------------
	RESET: START
------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core root defaults */
html {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px); }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/*----------------------------
	Visually hidden
----------------------------*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

:root {
  --main-background: hsl(222, 26%, 31%);
  --toggle-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --key-background-regular: hsl(225, 21%, 49%);
  --key-shadow-regular: hsl(224, 28%, 35%);
  --key-background-reset: hsl(6, 63%, 50%);
  --key-shadow-reset: hsl(6, 70%, 34%);
  --key-background-equal: hsl(30, 25%, 89%);
  --key-shadow-equal: hsl(28, 16%, 65%);
  --text-light: hsl(0, 0, 100%);
  --text-dark: hsl(221, 14%, 31%); }

[data-theme='two'] {
  --main-background: hsl(0, 0%, 90%);
  --toggle-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  --key-background-regular: hsl(185, 42%, 37%);
  --key-shadow-regular: hsl(185, 58%, 25%);
  --key-background-reset: hsl(25, 98%, 40%);
  --key-shadow-reset: hsl(25, 99%, 27%);
  --key-background-equal: hsl(45, 7%, 89%);
  --key-shadow-equal: hsl(35, 11%, 61%);
  --text-light: hsl(0, 0, 100%);
  --text-dark: hsl(60, 10%, 19%); }

[data-theme='three'] {
  --main-background: hsl(268, 75%, 9%);
  --toggle-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  --key-background-regular: hsl(281, 89%, 26%);
  --key-shadow-regular: hsl(285, 91%, 52%);
  --key-background-reset: hsl(176, 100%, 44%);
  --key-shadow-reset: hsl(177, 92%, 70%);
  --key-background-equal: hsl(268, 47%, 21%);
  --key-shadow-equal: hsl(290, 70%, 36%);
  --text-light: hsl(0, 0, 100%);
  --text-dark: hsl(198, 20%, 13%);
  --text-medium: hsl(52, 100%, 62%); }

html {
  font-size: 62.5%; }
  @media (min-width: 600px) {
    html {
      font-size: 50%; } }
  @media (min-width: 900px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Spartan', Helvetica, sans-serif;
  font-size: 3.2rem; }

.attribution {
  font-size: 11px;
  text-align: center;
  display: block; }

.attribution a {
  color: #3e52a3; }
