:root {
  --main-background: hsl(222, 26%, 31%);
  --toggle-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --key-background-reset: hsl(225, 21%, 49%);
  --key-shadow-reset: hsl(224, 28%, 35%);
  --key-background-equal: hsl(6, 63%, 50%);
  --key-shadow-equal: hsl(6, 70%, 34%);
  --key-background-regular: hsl(30, 25%, 89%);
  --key-shadow-regular: hsl(28, 16%, 65%);
  --text-light: hsl(0, 0, 100%);
  --text-dark: hsl(221, 14%, 31%);
  // --text-medium:
}

[data-theme='two'] {
  --main-background: hsl(0, 0%, 90%);
  --toggle-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  --key-background-regular: hsl(185, 42%, 37%);
  --key-shadow-regular: hsl(185, 58%, 25%);
  --key-background-reset: hsl(25, 98%, 40%);
  --key-shadow-reset: hsl(25, 99%, 27%);
  --key-background-equal: hsl(45, 7%, 89%);
  --key-shadow-equal: hsl(35, 11%, 61%);
  --text-light: hsl(0, 0, 100%);
  --text-dark: hsl(60, 10%, 19%);
  // --text-medium:
}

[data-theme='three'] {
  --main-background: hsl(268, 75%, 9%);
  --toggle-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  --key-background-regular: hsl(281, 89%, 26%);
  --key-shadow-regular: hsl(285, 91%, 52%);
  --key-background-reset: hsl(176, 100%, 44%);
  --key-shadow-reset: hsl(177, 92%, 70%);
  --key-background-equal: hsl(268, 47%, 21%);
  --key-shadow-equal: hsl(290, 70%, 36%);
  --text-light: hsl(0, 0, 100%);
  --text-dark: hsl(198, 20%, 13%);
  --text-medium: hsl(52, 100%, 62%);
}

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1400px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (min-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media (min-width: 600px) {
      @content;
    }
  }
}
