@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;&display=swap');
@import 'reset';
@import 'variables';

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px
  }

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: 'Spartan', Helvetica, sans-serif;
  font-size: 3.2rem;
  background-color: var(--main-background);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  max-width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.buttons {
  background-color: var(--toggle-background);
  border-radius: 10px;
}

.top-row {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--text-light);
}

.top-row p {
  font-weight: 700;
  color: white;
}

.toggle-container {
  display: flex;
  flex-direction: column;
}

.toggle-label {
  letter-spacing: 4px;
  padding-left: 9px;
}

.toggle {
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
}

.toggle p {
  margin-right: 1rem;
}

.input {
  border-radius: 1px;
  height: 60px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  margin-right: 6px;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all 0.2s ease-in-out;
  background-color: var(--screen-background);
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 10px;
  color: white;
}

.top-line {
  display: flex;
}

.numbers {
  display: flex;
}

.bottom-row {
  display: flex;
}

.bottom-row div {
  width: 100%;
  height: 6rem;
  padding: 2rem;
  background-color: var(--key-background-regular);
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-bottom: 3px solid white;
}

.numbers div,
.clear {
  width: 6rem;
  height: 6rem;
  padding: 2rem;
  background-color: var(--key-background-regular);
  color: var(--text-dark);
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-bottom: 4px solid var(--key-shadow-regular);
}

.clear {
  background-color: var(--key-background-reset) !important;
  color: white !important;
  border-bottom: 4px solid var(--key-shadow-reset) !important;
}

.equal {
  background-color: var(--key-background-equal) !important;
  color: white !important;
  border-bottom: 4px solid var(--key-shadow-equal) !important;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: block;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.tw-toggle {
  /* background: #95A5A6; */
  background-color: var(--toggle-background);
  display: inline-block;
  padding: 2px 3px;
  border-radius: 20px;
  position: relative;
  // border: 2px solid #95a5a6;
  width: 70px;
  height: 30px;
}

.tw-toggle label {
  text-align: center;
  font-family: sans-serif;
  display: inline-block;
  color: #95a5a6;
  position: relative;
  z-index: 2;
  margin: 0;
  text-align: center;
  padding: 2px 3px;
  font-size: 15px;
  /* cursor: pointer; */
}

.tw-toggle input {
  /* display: none; */
  position: absolute;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.tw-toggle span {
  height: 21px;
  width: 21px;
  line-height: 21px;
  border-radius: 50%;
  background: #fff;
  display: block;
  position: absolute;
  left: 22px;
  top: 2px;
  transition: all 0.3s ease-in-out;
}

.tw-toggle input:checked ~ span {
  background: #e74c3c;
  // left: 2px;
  color: #fff;
}

.tw-toggle input[value='false']:checked ~ span {
  // background: #e74c3c;
  left: 5px;
  top: 4px;
  color: #fff;
}

.tw-toggle input[value='true']:checked ~ span {
  // background: #27ae60;
  left: 46px;
}
.tw-toggle input[value='-1']:checked ~ span {
  // background: #95a5a6;
  left: 23px;
}

.tw-toggle input[value='false']:checked + label,
.tw-toggle input[value='true']:checked + label {
  color: #fff;
}
.tw-toggle input[value='-1']:checked + label {
  color: #fff;
}
